[submodule "lib/advanced-tiled-loader"]
	path = lib/advanced-tiled-loader
	url = https://github.com/Kadoba/Advanced-Tiled-Loader
[submodule "lib/bump"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/kikito/anim8.git
